<body>
    <div class="wrapper">
      <div class="table basic">
        <div class="price-section">
          <div class="price-area">
            <div class="inner-area">
              <img class="logo" src="/assets/img/cortev.jpeg">
            </div>
          </div>
        </div>
        <div class="package-name"></div>
        <ul class="features">
          <li>
            <span class="list-name">Tamaño Personalizado</span>
            <span class="icon check"><fa-icon [icon]="faCheck"></fa-icon></span>
          </li>
          <li>
            <span class="list-name">Imagen Personalizada</span>
            <span class="icon check"><fa-icon [icon]="faCheck"></fa-icon></span>
          </li>
          <li>
            <span class="list-name">Color Personalizado </span>
            <span class="icon check"><fa-icon [icon]="faCheck"></fa-icon></span>
            <!-- <span class="icon cross"><fa-icon [icon]="faTimes"></fa-icon></span> -->
          </li>
          <li>
            <span class="list-name">Texto Personalizado</span>
            <span class="icon check"><fa-icon [icon]="faCheck"></fa-icon></span>
          </li>
        </ul>
        <div class="btn"><button (click)="solicitarOpcion()">Solicitar</button></div>
      </div>
      <div class="table premium">
        <div class="ribbon"><span>Recomendado</span></div>
        <div class="price-section">
          <div class="price-area">
            <div class="inner-area">
              <img class="logo" style="height: 116px;" src="/assets/img/tejidoin.jpg">
            </div>
          </div>
        </div>
        <div class="package-name"></div>
        <ul class="features">
          <li>
            <span class="list-name"> Color Personalizado</span>
            <span class="icon check"><fa-icon [icon]="faCheck"></fa-icon></span>
          </li>
          <li>
            <span class="list-name"> Imagen Personalizado</span>
            <span class="icon check"><fa-icon [icon]="faCheck"></fa-icon></span>
          </li>
          <li>
            <span class="list-name">Texto Personalizado</span>
            <span class="icon check" style="margin-bottom: 60px;"><fa-icon [icon]="faCheck"></fa-icon></span>
          </li>
        </ul>
        <div class="btn"><button>Solicitar</button></div>
      </div>
      <div class="table ultimate">
        <div class="price-section">
          <div class="price-area">
            <div class="inner-area">
              <img class="logo" style="height: 116px;" src="/assets/img/sublimacion.jpg">
            </div>
          </div>
        </div>
        <div class="package-name"></div>
        <ul class="features">
          <li>
            <span class="list-name">Imagen Personalizada</span>
            <span class="icon check"><fa-icon [icon]="faCheck"></fa-icon></span>
          </li>
          <li>
            <span class="list-name">Estampado a color</span>
            <span class="icon check"><fa-icon [icon]="faCheck"></fa-icon></span>
          </li>
          <li>
            <span class="list-name">Tamaño Personalizado</span>
            <span class="icon check" style="margin-bottom: 60px;"><fa-icon [icon]="faCheck"></fa-icon></span>
          </li>
        </ul>
        <div class="btn"><button>Solicitar</button></div>
      </div>
      <div class="table estam" style="margin-top: 20px;">
        <div class="price-section">
          <div class="price-area">
            <div class="inner-area">
              <img class="logo" src="/assets/img/estampado.jpeg">
            </div>
          </div>
        </div>
        <div class="package-name"></div>
        <ul class="features">
          <li>
            <span class="list-name">Serigrafia</span>
            <span class="icon check"><fa-icon [icon]="faCheck"></fa-icon></span>
          </li>
          <li>
            <span class="list-name">Tamaño Personalizado </span>
            <span class="icon check"><fa-icon [icon]="faCheck"></fa-icon></span>
          </li>
          <li>
            <span class="list-name">Color Personalizado</span>
            <span class="icon check" style="margin-bottom: 60px;"><fa-icon [icon]="faCheck"></fa-icon></span>
          </li>
        </ul>
        <div class="btn"><button>Solicitar</button></div>
      </div>
      <div class="table confesion" style="margin-top: 20px;">
        <div class="price-section">
          <div class="price-area">
            <div class="inner-area">
              <img class="logo" src="/assets/img/confeccionar.jpg">

            </div>
          </div>
        </div>
        <div class="package-name"></div>
        <ul class="features">
          <li>
            <span class="list-name">Imagen Personalizada</span>
            <span class="icon check"><fa-icon [icon]="faCheck"></fa-icon></span>
          </li>
          <li>
            <span class="list-name">Estampado a color</span>
            <span class="icon check"><fa-icon [icon]="faCheck"></fa-icon></span>
          </li>
          <li>
            <span class="list-name">Tamaño Personalizado</span>
            <span class="icon check" style="margin-bottom: 60px;"><fa-icon [icon]="faCheck"></fa-icon></span>
          </li>
        </ul>
        <div class="btn"><button>Solicitar</button></div>
      </div>
      <div class="table cortes" style="margin-top: 20px;">
        <div class="price-section">
          <div class="price-area">
            <div class="inner-area">
              <img class="logo" src="/assets/img/Corte.jpg">
            </div>
          </div>
        </div>
        <div class="package-name"></div>
        <ul class="features">
          <li>
            <span class="list-name">Corte Personalizado </span>
            <span class="icon check"><fa-icon [icon]="faCheck"></fa-icon></span>
          </li>
          <li>
            <span class="list-name">Numero de cantidad</span>
            <span class="icon check"><fa-icon [icon]="faCheck"></fa-icon></span>
          </li>
          <li>
            <span class="list-name">Imagen Personalizada</span>
            <span class="icon check" style="margin-bottom: 60px;"><fa-icon [icon]="faCheck"></fa-icon></span>
          </li>
        </ul>
        <div class="btn"><button>Solicitar</button></div>
      </div>

    </div>
  
  </body>