<div class="container">
  <div class="user-details">
    <div class="title">Consultar Clientes</div>
    <div class="filtro">
      <div class="input-box">
        <input type="text" placeholder="Digite la informacion" required />
      </div>
      <div class="input-box">
        <select>
          <option value="opcion1">Todos</option>
          <option value="opcion2">Cedula</option>
          <option value="opcion3">Nombre</option>
        </select>
      </div>
      <div class="button">
        <input
          type="button"
          class="btt"
          (click)="agregarRegistros()"
          value="Visualizar"
        />
      </div>
    </div>

    <div class="tabla-container">
      <table class="content-table" id="table">
        <thead>
          <tr>
            <th scope="col">Cedula</th>
            <th scope="col">Foto de Perfil</th>
            <th scope="col">Nombres</th>
            <th scope="col">Genero</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Correo Electronico</th>
            <th scope="col">Número de Teléfono</th>
            <th scope="col">Dirección</th>
            <th scope="col">Foto de Perfil</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let registro of registros; let i = index">
            <td>{{ registro.tipoDocumento }}-{{ registro.cedula }}</td>
            <td>{{ registro.fotoPerfil }}</td>
            <td>{{ registro.nombre }} {{ registro.apellidos }}</td>
            <td>{{ registro.genero }}</td>
            <td>{{ registro.fechaNacimiento }}</td>
            <td>{{ registro.correoElectronico }}</td>
            <td>{{ registro.numeroTelefono }}</td>
            <td>{{ registro.direccion }}</td>
            <td>{{ registro.fotoPerfil }}</td>
            <td>{{ registro.ciudad }}</td>
            <td>{{ registro.estado }}</td>
            <td class="text-center">
              <a
                (click)="abrirModal(i)"
                data-bs-toggle="modal"
                [attr.data-bs-target]="'#exampleModal' + i"
                data-bs-whatever="@mdo"
                class="btnEditar btn btn-primary"
                >Editar</a
              >
              <a
                (click)="eliminarRegistro(i)"
                class="btnEliminar btn btn-danger"
                style="margin-left: 7px"
                >Borrar</a
              >
            </td>
          </tr>
        </tbody>
      </table>

    </div>
   

    <div *ngFor="let registro of registros; let i = index">
      <div
        class="modal fade"
        [id]="'exampleModal' + i"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Ingrese los Datos
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form>
                <label for="tipoDocumento" class="col-form-label"
                  >Tipo de Documento:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="tipoDocumento"
                  name="tipoDocumento"
                  [(ngModel)]="registroSeleccionado.tipoDocumento"
                />

                <label for="cedula" class="col-form-label">Cédula:</label>
                <input
                  type="text"
                  class="form-control"
                  id="cedula"
                  name="cedula"
                  [(ngModel)]="registroSeleccionado.cedula"
                />

                <label for="fotoPerfil" class="col-form-label"
                  >Foto de Perfil:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="fotoPerfil"
                  name="fotoPerfil"
                  [(ngModel)]="registroSeleccionado.fotoPerfil"
                />

                <label for="nombre" class="col-form-label">Nombres:</label>
                <input
                  type="text"
                  class="form-control"
                  id="nombre"
                  name="nombre"
                  [(ngModel)]="registroSeleccionado.nombre"
                />

                <label for="apellidos" class="col-form-label">Apellidos:</label>
                <input
                  type="text"
                  class="form-control"
                  id="apellidos"
                  name="apellidos"
                  [(ngModel)]="registroSeleccionado.apellidos"
                />

                <label for="genero" class="col-form-label">Género:</label>
                <input
                  type="text"
                  class="form-control"
                  id="genero"
                  name="genero"
                  [(ngModel)]="registroSeleccionado.genero"
                />

                <label for="fechaNacimiento" class="col-form-label"
                  >Fecha de Nacimiento:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="fechaNacimiento"
                  name="fechaNacimiento"
                  [(ngModel)]="registroSeleccionado.fechaNacimiento"
                />

                <label for="correoElectronico" class="col-form-label"
                  >Correo Electrónico:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="correoElectronico"
                  name="correoElectronico"
                  [(ngModel)]="registroSeleccionado.correoElectronico"
                />

                <label for="pass" class="col-form-label">Contraseña:</label>
                <input
                  type="text"
                  class="form-control"
                  id="pass"
                  name="pass"
                  [(ngModel)]="registroSeleccionado.pass"
                />

                <label for="numeroTelefono" class="col-form-label"
                  >Número de Teléfono:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="numeroTelefono"
                  name="numeroTelefono"
                  [(ngModel)]="registroSeleccionado.numeroTelefono"
                />

                <label for="direccion" class="col-form-label">Dirección:</label>
                <input
                  type="text"
                  class="form-control"
                  id="direccion"
                  name="direccion"
                  [(ngModel)]="registroSeleccionado.direccion"
                />

                <label for="fotoPerfil" class="col-form-label"
                  >Foto de Perfil:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="fotoPerfil"
                  name="fotoPerfil"
                  [(ngModel)]="registroSeleccionado.fotoPerfil"
                />

                <label for="ciudad" class="col-form-label">Ciudad:</label>
                <input
                  type="text"
                  class="form-control"
                  id="ciudad"
                  name="ciudad"
                  [(ngModel)]="registroSeleccionado.ciudad"
                />

                <label for="estado" class="col-form-label">Estado:</label>
                <input
                  type="text"
                  class="form-control"
                  id="estado"
                  name="estado"
                  [(ngModel)]="registroSeleccionado.estado"
                />
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancelar
              </button>
              <button
                type="button"
                class="btnG btn btn-light"
                (click)="guardarCambios(i)"
                data-bs-dismiss="modal"
              >
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
