<div class="container">
    <div class="title"> Registro de producto </div>
    <form #productoform="ngForm" (submit)="registrarProducto(productoform)" enctype="multipart/form-data" >
        <div class="user-details">
            <div class="input-box">
                <span class="details">
                    Codigo del producto
                </span>
                <input type="text" placeholder ="Digite el código" required [(ngModel)]="producto.codigo" name="codigo">
            </div>
            <div class="input-box">
                <span class="details">
                    Nombre del producto
                </span>
                <input type="text" placeholder ="Escriba el nombre" required [(ngModel)]="producto.nombre" name="nombre">
            </div>
            <div class="input-box">
                <span class="details">
                    Descripcion del producto
                </span>
                <input type="text" placeholder ="Escriba la descripción" required [(ngModel)]="producto.descripcion" name="descripcion">
            </div>
            <div class="input-box">
                <span class="details">
                    Precio del producto
                </span>
                <input type="text" placeholder ="Escriba el precio" required [(ngModel)]="producto.precio" name="precio">
            </div>
            <div class="input-box">
                <span class="details">
                    Categoria del producto
                </span>
                <input type="text" placeholder ="Escriba la categoria" required [(ngModel)]="producto.categoria" name="categoria">
            </div>
            <div class="input-box">
                <span class="details">
                    Referencia del producto
                </span>
                <input type="text" placeholder ="Escriba la referencia" required [(ngModel)]="producto.referencia" name="referencia">
            </div>
            <div class="filed">
                <span class="details">
                    Imagen del producto
                </span>
                <div class="file-input-container">
                    <label for="file-input" class="custom-file-upload">
                        Cargar imagen
                    </label>
                    <input id="file-inputQ" type="file" class="imggQ" [(ngModel)]="producto.imagen" name="imagen" accept="image/*">

                </div>
            </div>  
            
            <div class="input-box">
                <span class="details">
                    Tela del producto
                </span>
                <input type="text" placeholder ="Escriba el tipo de tela" required [(ngModel)]="producto.tela" name="tela">
            </div>
            <div class="input-box">
                <span class="details">
                    Talla del producto
                </span>
                <input type="text" placeholder ="Escriba la talla" required [(ngModel)]="producto.talla" name="talla">
            </div>
            <div class="input-box">
                <span class="details">
                    Medida del producto
                </span>
                <input type="text" placeholder ="Escriba la medida" required [(ngModel)]="producto.medida" name="medida">
            </div>
            <div class="input-box">
                <span class="details">
                    Diseño
                </span>
                <input type="text" placeholder ="Describa el diseño" required [(ngModel)]="producto.disenio" name="disenio"> 
            </div>
           
        </div>
        <div class="button">
            <input type="submit" class="btt" value="Registrar">
        </div>
    </form>
</div>