<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <section class="container">
     <li class="colu" >
      <h5 class="titulo">Bienvenido a tu tienda VISOIL</h5>
      <p class="titulo">Nuestra mision es hacerte vibrar,<br>el color es nuestra alma.</p>
     </li>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      
      <section class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
              <img  class="icons" src="/assets/img/love.svg" height="19px">
              <img class="ico"src="/assets/img/userr.svg" height="19px">
              <img class="ico"src="/assets/img/shop.svg" height="19px">
         
            
          </li>
        </ul>
      </section>
    </section>
  </nav>