<body>
    <section class="d-flex">
      <section id="sidebar-container" class="bg-primary">
        <section class="logo">
         <img class="icon" src="/assets/img/VISOIL.png" height="180px"> 
        </section>
        <section class="Menu">
          <a href="#" class="BT d-block p-3" id="btnInicio"> <img src="/assets/img/home.svg" class="list__img"> Inicio</a>
          <a href="#" class="BT d-block p-3" id="btnRegistro"> <img src="/assets/img/user.svg" class="list__img">
            Registro</a>
  
          <ul class="list">
            <li class="list__item list__item--click">
             
  
              <ul class="list__show">
                <li class="list__inside">
                  <a href="#" class="nav__link nav__link--inside"> Placa</a>
                </li>
  
                <li class="list__inside">
                  <a href="#" class="nav__link nav__link--inside">Marca</a>
                </li>
              </ul>
            </li>
          </ul>
  
        </section>
      </section>

  
  
  
      
    <section class="w-100">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <section class="container">
           <li class="colu" >
            <h5 class="titulo">Bienvenido a tu tienda VISOIL</h5>
            <p class="titulo">Nuestra mision es hacerte vibrar,<br>el color es nuestra alma.</p>
           </li>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
  
            
  
            
            <section class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <img  class="icons" src="/assets/img/love.svg" height="19px">
                    <img class="ico"src="/assets/img/userr.svg" height="19px">
                    <img class="ico"src="/assets/img/shop.svg" height="19px">
               
                  
                </li>
              </ul>
            </section>
          </section>
        </nav>
  
        <section class="contenedor" id="cont">
  
  
        </section>
  
  
      </section>
  
    </section>
  
  </body>